[Unit]
Description=Run MideaHavara availability check every 4 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=4min
Persistent=true
Unit=mideahavara.service

[Install]
WantedBy=timers.target
